@model DO_AN_CUOI.Models.Hinhanh

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Hinhanh</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UrlHa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UrlHa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaddNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaddNavigation.Madd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Mah">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
