@model DO_AN_CUOI.Models.Khachsan

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Khachsan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Maks" />
            <div class="form-group">
                <label asp-for="Tenks" class="control-label">Khách Sạn</label>
                <input asp-for="Tenks" class="form-control" />
                <span asp-validation-for="Tenks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dc" class="control-label">Địa chỉ</label>
                <input asp-for="Dc" class="form-control" />
                <span asp-validation-for="Dc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
